.image{
  height: 10rem;
  width: 12rem;
  margin: 1rem;
  -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
 
}

.imageContainer {
  text-align: center;
  background-color:rgba(82, 199, 242, 0.338);

}
